.grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}

.item {
  width: 100%;
}

.card {
  padding: 15px;
  padding-right: 30px;
}

.img {
  height: 200px;
  width: 150px;
  object-fit: cover;
}
